<configuration scan="true">

    <property name="logsDirectory" value="logs" />
    <property name="logsLevel" value="debug" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{YYYY/MM/dd HH:mm:ss.SSS} [%-5level] [%logger{15}] - %msg%n</pattern>
        </encoder>
    </appender>


    <appender name="all" class="ch.qos.logback.core.FileAppender">
        <file>${logsDirectory}/all.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{YYYY/MM/dd HH:mm:ss.SSS} [%-5level] [%logger{15}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="database.BufferPool" level="${logsLevel:-off}">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="off">
    </root>

</configuration>